.newuser {
  border: 1px solid black;
  display: block;
  margin: 0.5rem 1.5rem;
  margin-bottom: 1rem;
  background-color: white;
  color: black;
  width: 70vw;
}
.newuser p {
  margin: 5px;
  text-align: start;
  font-weight: 600;
}

@media (min-width: 650px) {
  .newuser {
    width: 50vw;
  }
}
