.user_entry {
  background-color: antiquewhite;
  margin: 2rem;
  margin-top: 4rem;
  width: 70vw;
  color: black;
  /* max-width: 95%; */
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-between;
}

.user_entry--container {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

.user_entry--container label {
  width: 15rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  text-align: start;
}

.user_entry input {
  font: inherit;
  color: black;
  border-radius: 6px;
  max-width: 100%;
  border: 1px solid black;
}
.btn {
  margin: 1rem;
  background-color: rgba(43, 4, 171, 0.748);
  color: white;
  padding: 0.6rem;
  font-weight: 700;
  font-size: 18px;
}

@media (min-width: 650px) {
  .user_entry {
    width: 50vw;
  }
  .btn {
    padding: 0.6rem;
    width: 10rem;
  }
} ;
